/* body {
  background: black
} */

.campus_grid_tile {
  height: 50em
}

.student_table {
  width: 75% !important;
  align-self: center !important
}

.raised_button {
  margin: .25em !important;
}

.subheader {
  font-size: 3em !important;
  padding: .25em !important;
}

